
.for-carousel {
  margin: 50px auto auto;
  padding-top: 10px;
}

.for-carousel-element {
  width: 270px;
  text-align: center;
  margin-right: 45px;
}

.for-carousel {
  margin-top: 0;
  padding-top: 0;
  width: auto;
  position: relative;
}

.for-carousel-hider {
  overflow: hidden;
}

.for-carousel-list {
  width: auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
}

.for-carousel-element {
  display: block;
  flex: 0 0 auto;
}

div.for-carousel-arrow-left,
div.for-carousel-arrow-right {
  width: 22px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 32;
}

div.for-carousel-arrow-left {
  left: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat;
}

div.for-carousel-arrow-right {
  right: 10px;
  top: 40%;
  display: block;
  background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat;
}

div.for-carousel-arrow-left:hover {
  opacity: 1.0;
}

div.for-carousel-arrow-right:hover {
  opacity: 1.0;
}

