$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1920px;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

@import "catalog.scss";
@import "container.scss";
@import "main-page.scss";
@import "product-card.scss";
@import "footer.scss";
@import "carusel.scss";
@import "for-carusel.scss";

